# {{ ansible_managed }}

user www-data;
worker_processes  auto;

error_log  /var/log/nginx/error.log;
pid        /var/run/nginx.pid;

events {
  worker_connections  512;
  multi_accept        on;
  use                 epoll;
}

worker_rlimit_nofile 40000;

http {

  include       /etc/nginx/mime.types;
  default_type  application/octet-stream;
  access_log    /var/log/nginx/access.log;

  sendfile      on;
  tcp_nopush    on;
  tcp_nodelay   on;

  client_body_timeout     12;
  client_header_timeout   12;
  keepalive_timeout       15;
  send_timeout            10;

  gzip                    off;

  server_names_hash_bucket_size 64;
  types_hash_max_size           2048;
  types_hash_bucket_size        64;
  server_tokens off;

  # ssl from long time ago
  ssl_protocols TLSv1.3;
  ssl_session_cache shared:SSL:10m;
  ssl_session_timeout 10m;
  add_header Strict-Transport-Security "max-age=31536000; includeSubdomains";
  add_header X-Content-Type-Options "nosniff";
  add_header X-XSS-Protection "1; mode=block";
  ssl_prefer_server_ciphers on;

  ssl_certificate /etc/letsencrypt/live/{{ server_name }}/fullchain.pem;
  ssl_certificate_key /etc/letsencrypt/live/{{ server_name }}/privkey.pem;


  include /etc/nginx/conf.d/*.conf;
  include /etc/nginx/sites-enabled/*;
}
